.card {
  cursor: pointer;
  pointer-events: all;
  padding: 2.5rem;
  border: solid 0.1rem #e5e1e1;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.35rem 0.5rem 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(0.1rem);
  transition: all 0.25s ease;
  text-align: left;
}

.card:hover {
  box-shadow: 0 0.7rem 3rem 0 rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(0.25rem);
}

.card:hover img {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

@media only screen and (min-width: 480px) {
  .card {
    box-shadow: 0 0.35rem 1.5rem 0 rgba(0, 0, 0, 0.37);
  }
}

.cardTop {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

.cardImageCont {
  flex-basis: 5rem;
  flex-shrink: 1;
}

.cardImageCont img {
  max-height: 20rem;
  min-height: 20rem;
  transition: filter 0.25s ease;
}
.cardTop p {
  color: #ddd;
  font-size: 3rem;
  flex-grow: 1;
}

.cardDesc {
  font-size: 1.8rem;
}
