@font-face {
  font-family: 'DCC';
  src: url('/fonts/DCC-Ash.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DCC', sans-serif;
  font-size: 62.5%;
  color: #232323;
  letter-spacing: 0.15rem;

  --top-gutter: 5.5rem;
  --side-gutter: 2rem;

  --nav-height: 13.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus,
a:focus,
textarea:focus,
input:focus {
  outline-width: 0.25rem;
  outline-color: grey;
}
