.search {
  width: 100%;
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.search__heading {
  font-size: clamp(3.2rem, 4.5vw, 5.5rem);
  margin: 0;
  margin-bottom: 2rem;
}

.search__inputCont {
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6rem;
}

.search__input {
  width: 100%;
  font-size: 2.8rem;
  font-family: 'DCC', sans-serif;
  letter-spacing: 0.175rem;
  text-align: center;
  border-radius: 4rem;
  border: solid 0.1rem #23232380;
  border: 0;
  background-color: #eee;
  flex-grow: 1;
  padding-block: 0.25rem;
  padding-inline: 2rem;
  text-align: left;
  padding-top: 0.75rem;
}

.search__input:disabled {
  background-color: #dddddd80;
}

.search__inputControls {
  position: absolute;
  right: 0;
  height: 100%;
}

.search__inputControls [type='submit'],
.search__inputControls select {
  border: 0;
  margin: 0;
  display: inline-block;
  font-size: 2.4rem;
  font-family: 'DCC', sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  color: #ddd;
  background: #232323;
  height: 100%;
  padding-top: 0.35rem;
  letter-spacing: 0.05rem;
}

.search__input:focus,
.search__inputControls [type='submit']:focus,
.search__inputControls select:focus {
  outline-width: 0.1rem;
  outline-color: grey;
}

.search__inputControls [type='submit'] {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  appearance: none;
}

@media (max-width: 960px) {
  .search__inputControls [type='submit'],
  .search__inputControls select,
  .search__input {
    font-size: 2.2rem;
  }

  .search__inputControls [type='submit'],
  .search__inputControls select {
    font-weight: 500;
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .search__inputControls [type='submit'],
  .search__inputControls select,
  .search__input {
    font-size: 1.8rem;
    height: 2.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .search__input {
    text-align: center;
  }

  .search__inputControls select {
    padding-right: 0;
  }

  .search__inputControls select {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
  }

  .search__inputControls {
    position: relative;
  }

  .search__inputCont {
    flex-direction: column;
    gap: 1rem;
  }

  .search__inputControls {
    display: flex;
  }
}
